PUBLIC_HOSTNAME=nextcloud.example.com
MYSQL_ROOT_PASSWORD=password1
MYSQL_USER=nextcloud
MYSQL_PASSWORD=password2
MYSQL_DB=nextcloud
SMTP_HOST=smtp.example.com
SMTP_USERNAME=user@example.com
SMTP_PASSWORD=password
SMTP_FROM_ADDR=user@example.com
